<div class="search-div">
    <button *ngIf = "userService.loggedUser.value.$id != null &&  userService.loggedUser.value.isAdmin" 
    mat-raised-button (click) = "onCreate()">
        <mat-icon>add</mat-icon>Create
    </button>
    <mat-form-field class="search-form-field">
        <input matInput [(ngModel)]="searchKey" placeholder="Search.." autocomplete="off" (keyup)="applyFilter()">
        <button mat-button matSuffix mat-icon-button aria-label="Clear" *ngIf="searchKey" (click)="onSearchClear()">
            <mat-icon>close</mat-icon>
        </button>
    </mat-form-field>
</div>
<div class = "mat-elevation-z8">
    <mat-table [dataSource] = "listData" matSort>

        <ng-container matColumnDef="bookName">
            <mat-header-cell *matHeaderCellDef mat-sort-header>Book Name</mat-header-cell>
            <mat-cell *matCellDef="let element">{{element.bookName}}</mat-cell>
        </ng-container>

        <ng-container matColumnDef="isbnNumber">
            <mat-header-cell *matHeaderCellDef mat-sort-header>ISB Number</mat-header-cell>
            <mat-cell *matCellDef="let element">{{element.isbnNumber}}</mat-cell>
        </ng-container>

        <ng-container matColumnDef="bookDescription">
            <mat-header-cell *matHeaderCellDef mat-sort-header>Description</mat-header-cell>
            <mat-cell *matCellDef="let element">{{element.bookDescription}}</mat-cell>
        </ng-container>

        <ng-container matColumnDef="authors">
            <mat-header-cell *matHeaderCellDef mat-sort-header>Authors</mat-header-cell>
            <mat-cell *matCellDef="let element">
                <ul>
                    <li class="centerLi" *ngFor="let author of element.authors">
                        {{author.authorName}}
                    </li>
                </ul>
            </mat-cell>
        </ng-container>

        <ng-container matColumnDef="language">
            <mat-header-cell *matHeaderCellDef mat-sort-header>Language</mat-header-cell>
            <mat-cell *matCellDef="let element">
                <ul>
                    <li>
                        {{element.language.languageName}}
                    </li>
                </ul>
            </mat-cell>
        </ng-container>

        <ng-container matColumnDef="genres">
            <mat-header-cell *matHeaderCellDef mat-sort-header>Genres</mat-header-cell>
            <mat-cell *matCellDef="let element">
                <ul>
                    <li *ngFor="let genre of element.genres">
                        {{ genre.genreName }}
                    </li>
                </ul>
            </mat-cell>
        </ng-container>

        <ng-container matColumnDef="user">
            <mat-header-cell *matHeaderCellDef mat-sort-header>Currently with</mat-header-cell>
            <mat-cell *matCellDef="let element">
                {{element.user.isAdmin? 'free to use': element.user.username}}
            </mat-cell>
        </ng-container>
        
        <ng-container matColumnDef="actions">
            <mat-header-cell *matHeaderCellDef></mat-header-cell>
            <mat-cell *matCellDef="let row" class="header-align-right">
                <button mat-icon-button (click)="onEdit(row)">
                    <mat-icon>launch</mat-icon>
                </button>
                <button mat-icon-button color="warn" (click)="onDelete(row.$id)">
                    <mat-icon>delete_outline</mat-icon>
                </button>
            </mat-cell>
        </ng-container>

        <ng-container matColumnDef="loading">
            <mat-footer-cell *matFooterCellDef colspan="6">
                Loading data...
            </mat-footer-cell>
        </ng-container>
        <ng-container matColumnDef="noData">
            <mat-footer-cell *matFooterCellDef colspan="6">
                No data.
            </mat-footer-cell>
        </ng-container>

        <mat-header-row *matHeaderRowDef = "displayColumns"></mat-header-row>
        <mat-row *matRowDef = "let row; columns: displayColumns;"></mat-row>
        <mat-footer-row *matFooterRowDef="['loading']" [ngClass]="{'hide':listData!=null}"></mat-footer-row>
        <mat-footer-row *matFooterRowDef="['noData']" [ngClass]="{'hide':!(listData!=null && listData.data.length==0)}"></mat-footer-row>
    </mat-table>
    <mat-paginator [pageSizeOptions]="[5, 10, 25, 50]" [pageSize] = 5 showFirstLastButtons>

    </mat-paginator>
</div>